<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Ingresa status de Orden de Servicio</h1>
  <form action="/crear-estado-reparacion" method="post">
    <label for="cliente">Cliente</label>
    <input type="text" name="cliente" value="">
    <label for="trabajo">Trabajo</label>
    <input type="text" name="trabajo" value="">
    <label for="status-p">Status Porcentaje</label>
    <input type="text" name="status-p" value="">
    <label for="carro">Auto Modelo</label>
    <input type="text" name="carro" value="">
    <label for="placas">Auto Placas</label>
    <input type="text" name="placas" value="">
    <label for="status-d">Status Descripcion</label>
    <input type="text" name="status-d" value="">
    <input type="submit" name="" value="Actualizar">
  </form>
  <div class="">
    <a href="/">Volver</a>
  </div>
</body>

</html>
